

    <div class="row-fluid" id="nav">
        <div class="span8 offset2">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#">首页</a>
                </li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" href="#">用户管理管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-toggle">后台管理</li>
                        <li><a href="{:U('User/add')}">添加管理员</a></li>
                        <li><a href="{:U('User/index')}">管理员列表</a></li>

                        <li class="dropdown-toggle">前台管理</li>
                        <li><a href="{:U('Huser/add')}">添加用户</a></li>
                        <li><a href="{:U('Huser/index')}">用户列表</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" href="#">分类管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Category/add')}">添加学科</a></li>
                        <li><a href="{:U('Category/showlist')}">学科列表</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" href="#">商品管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Goods/add')}">添加商品</a></li>
                        <li><a href="{:U('Goods/showlist')}">商品列表</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#"  class="dropdown-toggle" data-toggle="dropdown" href="#">{$Think.session.adminuser.admin_name}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('User/editpwd')}?id={$Think.session.adminuser.id}">修改密码</a></li>
                        <li><a href="{:U('Login/logout')}">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>