<include file="Public/header" />
<include file="Public/nav" />

    <div class="row-fluid" id="main">
        <div class="span8 offset2">
            <form class="form-search fr" action="__URL__/index" method="get">
                <input type="text" name="name" class="input-medium" placeholder="Name">
                <select name="sex">
                    <option value="">--请选择--</option>
                    <option value="0">女</option>
                    <option value="1">男</option>
                    <option value="2">人妖</option>
                </select>
                <button type="submit" class="btn">搜索</button>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>角色名</th>
                    <th>状态</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="rolelist">
                    <foreach name="rolelist" item="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.status}</td>
                        <td>{$vo.ramark}</td>
                        <td>
                            <a href="__URL__/nodeList/id/{$vo.id}">分配节点</a>
                            <a href="__URL__/del/id/{$vo.id}">删除</a>
                            <a href="__URL__/edit/id/{$vo.id}">编辑</a>
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="5">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {$button}
                </ul>
            </div>

        </div>
    </div>

<include file="Public/footer" />
