<include file="Public/header" />
<include file="Public/nav" />

    <div class="row-fluid" id="main">
        <div class="span8 offset2">
            <form class="form-search fr" action="__URL__/index" method="get">
                <input type="text" name="home_name" class="input-medium" placeholder="Name">
                <!-- <select name="sex">
                    <option value="">请选择</option>
                    <option value="0">女</option>
                    <option value="1">男</option>
                    <option value="2">人妖</option>
                </select> -->
                <button type="submit" class="btn">搜索</button>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>账户名</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.home_name}</td>
                        <td>{$vo.addtime}</td>
                        <td>
                            <!-- <a href="__URL__/editpwd/id/{$vo.id}">修改密码</a> -->
                            <a href="__URL__/del/id/{$vo.id}">删除</a>
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="5">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {$button}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
            </script>
        </div>
    </div>

<include file="Public/footer" />
