<include file="Public/header" />
<include file="Public/nav" />
    <div class="row-fluid" id="main">
        <div class="span8 offset2">
            <form class="form-horizontal " action="__URL__/saveRole" method="post">
                <h3>分配角色</h3>
                <input type="hidden" name="id" value="{$info.id}">
                <div class="control-group">
                    当前为<font color="red"size="5px"> {$info.name}</font>分配角色
                </div>

                <div class="control-group">
                    <div class="controls">
                        <foreach name="roleList" item="vo">
                        {$vo.name} <input type="checkbox" name="rid[]" <if condition="in_array($vo['id'],$rids)">checked</if> value="{$vo.id}">&nbsp;&nbsp;
                        </foreach>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            &nbsp;
                        </label>
                        <button class="btn btn-large btn-primary form-submit" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分配角色&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<include file="Public/footer" />